@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --color-primary: #007f80;
    --color-primary-dark: #006666;
    --color-accent: #d4af37;
    --color-background-light: #f5f8f8;
    --color-background-dark: #0f2323;

    --font-sans: 'Inter', sans-serif;
    --font-display: 'Inter', sans-serif;
}

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}